
.bg-verde-claro{
        background-color: #d0f7e3;
}  
.navbar{
        background-color:#ffffff;
        color: #000000;
        padding-top: 0.10rem;
  padding-bottom: 0.10rem;
        
        
}
.nav-item{
    color: #000000;
    margin-left: 20px;
    padding: 10px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 5px;
    font-family: 'Poppins', sans-serif;

}
.nav-item:hover{
    color: #000000;
    margin-left: 20px;
    padding: 10px;
    border-top-left-radius:40px;
    border-bottom-right-radius: 5px;
    font-family: 'Poppins', sans-serif;
   
}
.nav-link {
    font-size: 20px;   
}
.nav-link:hover{

        background-color: #cff8e4;
         color: #000000;
         border-radius: 20px;
      
}
.hero-section{
    background-image: url('C:/ProyectosAppWeb/Natali-Ocampo-tp1/Natali-Ocampo-TP1/img/Vaquerias.jpeg');
    background-position: center;
   
    height: 60vh;
    display: flex;
    align-items: center;
    
}
.hero-overlay h1{
    
    color: #ffffff;
     
    padding-left: 80px;
    text-align:center;
    margin-bottom: 10px;

}
.hero-overlay p {
  color: #ffffff;
  padding-left: 60px;
  font-size: 20px;
  margin-top: 1.5rem;
  text-align: center;
  
}
.h2{

    color: #000000;
    text-align: center;
    font-size: 50px;
    
}
#Turismo h2 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  background-color: #ffffff;
 
  padding: center 50px;
 
}
.card-img-top {
  height: 500px;
 border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
 
 
  object-fit: cover;
    
}
.card-title{
    color: #000000;
    text-align: center;
    font-size: 25px;

}
.card-text{
    color: #000000;
    text-align: center;
    font-size: 18px;

}
.card{
    
    border-radius: 20px;
    
}

.row.g-0 img {
  height: 180px; 
  object-fit: cover;
}
.boton{
    background-color: #3dcc80;
    color: dark;
    


}
.boton:hover{
    background-color: #448653;
    color: dark;
    

}